#flexbox{
    display: flex;
    width: 1000px;
    height: 300px;
    background-color: white;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}
#flexbox div{
    width: 220px;
    height: 220px;
    padding-left: 6px;
    border-radius: 5px;
    color: white;
}
h2 {
    font-weight: bolder;
}
#pato{
    display: flex;
    width: 1000px;
    height: 300px;
    background-color: white;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}
#pato div{
    height: 220px;
    width: 480px;
    padding-left: 6px;
    border-radius: 5px;
}
#patopato{
    background-image: url("6.avif");
    color: white;
}
#ganso{
    background-image: url("7.jpg");
    color:black;
}
#pato1{
    background-image: url("1.jpg");
}
#pato2{
    background-image: url("2.jfif");
}
#pato3{
    background-image: url("3.avif");
}
#pato4{
    background-image: url("4.jpg");
}